body {
    padding: 20px;
    background-color: lightcyan;
}

.navborder {
    display: flex;
    border: none;
    margin-right: 20px;
    color: black;
    font-size: 20px;
    list-style: none;   
}


.navbar {
    display: flex;
    justify-content: space-around;
}

.navdiv {
    display: flex;
    flex-direction: row;
    
}

.name {
    font-size: 35px;
    font-weight: 600;
    color: black;
}

a {
    color: black;
}

.navlist {
    display: flex;
    
}

button {
    display: flex;
    justify-content: center;
    background-color:lightblue;
    font-family: 'Times New Roman', Times, serif;
    height: 28px;
    width: 75px;
    font-size: 18px;
    border-radius: 10%;
}

.experience {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.reshead {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.employment {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
}

.dates {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
    margin-left: 80%;
}

.line {
    border: solid black;
    background-color: black;
    height: 1px;
    width: 1260px;
}


.tyler {
    border: solid black 5px;
    border-radius: 25px; 
    margin-left: 60%; 
}

.head {
    border: none;
    overflow: hidden;
    margin-right: 70%;
    font-size: 25px;
}

.paragraph {
    font-family: "Gupter", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
}

.contact {
    border: double black 5px;
    margin-left: 25%;
    margin-right: 25%;
    font-family: "Gupter", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  display: grid;
  justify-content: center;
}

.projects {
    display: grid;
    justify-content: center;
    font-family: "Gupter", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
}

#username {
    display: flex;
    height: 25px;
    width: 200px;
    
}

.contactbox {
    display: flex;
    flex-direction: column;
    margin-left: 45%;
    margin-right: 44%;
    
}

#message {
    height: 100px;
}
.contacthead {
    margin-left: 10%;
}

.contactbutton {
     display: grid;
     align-self: center;
}